

<ion-content>
  <form [formGroup]="formularioCapturar" (ngSubmit)="submitForm()">

    <ion-list>
      <ion-item>
        <ion-select
          aria-label="Food"
          placeholder="Selecciona Estado"
         
        >
          <ion-select-option
            *ngFor="let entidad of filteredEntidades"
            [value]="entidad.cve_ent"
          >
            {{entidad.cve_ent}}
            {{entidad.nomgeo}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-list>

     
  </form>
</ion-content>
