<ion-header [translucent]="true">
  <ion-toolbar class="encabezado">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Domicilios Geográficos (menu)</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button expand="full" (click)="onClickCapturar()">Capturar</ion-button><br>
  <ion-button expand="full" (click)="onClickEditar()">Editar</ion-button><br>
  <ion-button expand="full" (click)="onClickExportar()">Exportar</ion-button><br>
</ion-content>
